.header {
  display: flex; }
  .header__logo img {
    float: left;
    cursor: pointer; }
  .header__nav {
    width: 100%;
    display: flex;
    justify-content: center;
    background: #5f4c4c; }
    .header__nav__menu {
      display: flex;
      align-items: center; }
      .header__nav__menu li {
        font: normal 16px 'Montserrat';
        list-style: none;
        padding: 0 40px; }
      .header__nav__menu a {
        text-decoration: none;
        color: #ffffff; }

body {
  background: #7395AE; }

.title {
  text-align: center; }

.container {
  display: flex;
  justify-content: center; }
  .container__tab {
    display: flex;
    background: darkgray;
    list-style: none; }
    .container__tab a {
      text-decoration: none;
      text-transform: uppercase; }
    .container__tab .tablinks {
      padding: 15px 15px;
      cursor: pointer; }
