body {
  background: $bg-color;
}

.title {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;

  &__tab {
    display: flex;
    background: darkgray;
    list-style: none;
    a{
      text-decoration: none;
      text-transform: uppercase;
    }
    .tablinks{
      padding: 15px 15px;
      cursor: pointer;
    }
  }
}
